* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: rgb(251, 176, 80);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-list li {
    margin: 0 2%;
}

.header-list li:first-child {
    margin-right: auto;
}

.header-list li a {
    font-size: 24px;
    color: #89066b;
    text-decoration: none;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(251, 176, 80) ;
}

.footer ul li{
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.section {
    padding: 100px 20px;
}

.section h2 {
    color: #89066b;
}

.saibamais {
    background-color: #89066b;
}

.saibamais h2 {
    color: white;
}

.saibamais h3 {
    color: white;
}

.ondecomprar {
    background-color: white;
}

.sobrenos {
    background-color: #89066b;
}

.sobrenos h2{
    color: white;
}

.blog {
    background-color: white;
}
