body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    color: #87234c;
    display: flex;
   padding-bottom: 100px;
}

.main-content h1 {
    font-size: 54px;
}

.header {
    background-color: rgb(251, 176, 80);
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.header-list li img {
    max-width: 200px;
    height: 60px;
}

.header-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding:  0px 0px 0px 0px;
}

.header-list li {
    margin: 0 2%;
}

.header-list li:first-child {
    margin-right: auto;
}

.header-list li a {
    font-size: 22px;
    color: #87234c;
    text-decoration: none;
}

.footer {
    width: 100%;
    background-color: rgb(251, 176, 80);
    color: #87234c;
    padding: 20px 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer ul li {
    margin: 10px;
    font-size: 16px;
    width: 200px;
}

.footer ul li strong {
    font-weight: bold;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.footer ul li a {
    color: #87234c;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer .social-icons a {
    color: #87234c;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.main-content {
    flex: 1;
    padding-top: 40px;
    display: block;
    max-width: 1800px;
    margin: 0 auto;
}

.section {
    padding: 20px 20px;
}

.section h2 {
    color: #87234c;
}

.top-content {
    display: flex;
    align-items: center;
    margin-bottom: 40px; 
}

.text-container {
    flex: 1;
    padding-left: 4%;
}

.text-container h1 {
    color: #87234c;
    font-size: 54px;
}

.text-container h2 {
    color: #87234c;
    font-size: 32px;
}

.text-container p {
    color: #87234c;
    font-size: 18px;
}

.search-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-width: 40%;
    width: 400px;

}

.search-input {
    padding: 10px;
    border: none;
    outline: none;
    width: 300px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.divider {
    height: 1px;
    background: linear-gradient(to right, #ccc, #87234c, #ccc);
    margin: 20px 0;
    border: 0;
}

button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.produtos {
    display: block;
    text-align: center;
}

.produtos ul {
    padding: 0;
}

.produtos ul li {
    display: inline-block;
    margin: 7px;
    vertical-align: top;
}

.produtos ul li a h3 {
    color: #87234c;
}

.produtos ul li a {
    text-decoration: none;
}

 button img {
    width: 320px;
    height: 280px;
    display: block;
    margin: 0 auto;
}

.carousel-container {
    max-width: 100%;
    margin: 0 auto;
}

.slider {
    width: 600px;
    max-width: 900px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.slider-content {
    width: 300%;
    height: 400px;
    display: flex;
    transition: margin-left 1s;
}

.slide-box {
    border-radius: 4%;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.slide-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.nav-manual {
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.nav-manual .manual-btn {
    width: 16px;
    height: 16px;
    border: 1px solid #87234c;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 5px;
}

.nav-manual .manual-btn:hover {
    background-color: #87234c;
}

#radio1:checked ~ .slider-content {
    margin-left: 0%;
}

#radio2:checked ~ .slider-content {
    margin-left: -100%;
}

#radio3:checked ~ .slider-content {
    margin-left: -200%;
}

#radio1:checked ~ .nav-manual .manual-btn.manual-btn1,
#radio2:checked ~ .nav-manual .manual-btn.manual-btn2,
#radio3:checked ~ .nav-manual .manual-btn.manual-btn3 {
    background-color: #87234c;
}

input[type="radio"] {
    display: none;
}

@media screen and (max-width: 900px) {
    .slide-box .img-desktop {
        display: none;
    }
    .slide-box .img-mobile {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .slide-box .img-desktop {
        display: block;
    }
    .slide-box .img-mobile {
        display: none;
    }
}
